<html>

<head>
    <title>Review-Stopwatch</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
    <link rel="stylesheet" type="text/css" href="src/style.css">
    <script defer src="src/app.js"></script>
</head>

<body>
    <div id="app">
        <div id="timer"><span id="time">{{time}}</span> <span id="milliseconds">{{milliseconds}}</span></div>
        <button v-on:click="runBtnClick">{{runnningBtn}}</button>

        <button v-if="!isRunning" v-on:click="clearBtnClick">Clear</button>

        <dl>
            <dt>時刻 <button>Clear</button></dt>
            <dd>2018/10/24 20:07 開始</dd>
            <dd>2018/10/24 20:15 停止</dd>
            <dd>2018/10/24 20:20 再開</dd>
        </dl>

        <dl>
            <dt>人数</dt>
            <dd>{{time}} × <input id="person" v-model="person" type="number" value="2" min="1">名 = {{personTime()}}</dd>
        </dl>

        <dl>
            <dt>時間給</dt>
            <dd>{{time}} × <input id="wage" v-model="wage" type="number" value="1000" min="0"> yen/hour = {{wageMoney()}} yen</dd>
            <dd>{{wageMoney()}} yen × {{person}} persons = {{allWage()}} yen</dd>
        </dl>
    </div>
</body>

</html>
